@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('/fonts/Myriad Pro Condensed.woff');
    font-weight: 400;
    font-display: swap;
}

.leaflet-marker-icon .marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    pointer-events: auto;
}

.leaflet-marker-icon.exit .marker {
    @apply text-[rgb(245,215,120)] text-border-yellow-900/80;
}

.leaflet-marker-icon:not(.exit) .marker {
    @apply text-cyan-200 text-border-black;
}

.leaflet-marker-icon.exit.hovered .marker {
    @apply !text-border-red-400/50;
}

.leaflet-marker-icon:not(.exit).hovered .marker {
    @apply !text-border-violet-900;
}